body{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  background-color:#5F6A6A ;

}
.container{
  margin: auto;
  width: 80%;


}
header{
  background: black;
  color: #D05B3C;
  padding-top: 50px;
  min-height: 80px;
  border-bottom: #BF9010 3px solid;
}
header a{
  color: #D05B3C;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
}
header ul{
  margin: 0;
  padding: 0;
}
header li{
  float: left;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #ffffff
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header a:hover{
  color: #cccccc;
  font-size: bold;
}
header .current a{
  color: #19A908;
  font-weight: bold;
}
#boxes .box img{
  width: 400px;
  border-radius: 5%;
  float: left;
  margin-left: -130px;
  margin-top: 10px;
}
.box p{
  text-align: inherit;
  text-align: center;
}
#boxes .circle img{
  width: 400px;
  border-radius: 5%;
  float: right;
  margin-right: -130px;
}
.circle p{
  text-align: center;
  text-align: inherit;
}
footer {
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
